
ul {
    list-style: none;
    background-color: gold;
    overflow: hidden;
    width: 98%;
    margin-top: 0%;
   
}

li {
    float: right;
}

li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    text-transform: capitalize;
    color: black;

}

li a:hover {
    background-color: black;
    color: gold;
   
}

.shop {
    float: left;
    padding: 15px;
    font-size: 30px;
    margin: 0%;
}

body {
    margin: 0%;
    border: 0%;
    padding: 0%;
}

.nav {
    position: sticky;
    top:0;
    z-index: 2;
}



body {
    background-color: black;
}

p {
    color: white;
    font-size: 30px;
    position: relative;
    z-index: -1;
}

.image2 {
    margin-top: 100px;
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

/* .imgpara{
    position: absolute;

}  */
.rew {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px;

}

.grid {
    border: 1px solid goldenrod;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
     transition:all 0.3s ease-in-out

}
.grid:hover{
   transform:scale(1.1);
}

.form {
    background-image: url(img/Gold_Background_with_Lines.png);
    border-radius: 50px;
}

input {
    border-radius: 10px;
    padding: 20px;
}

.submit {
    background-image: url(img/Gold_Background_with_Lines.png);
    font-size: 20px;
}

.float {
    float: right;
}

footer {
    text-align: center;
    padding: 50px;
    background-color: DarkSalmon;
    color: white;
}

.animated_rainbow_1 {
    /* font-size: 42px; */
    font-family: Arial Black, Gadget, sans-serif;
    background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    -webkit-animation: animatedBackground_a 5s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-clip: text;
}

@keyframes animatedBackground_a {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: -500px 0
    }
}
/* .listfooter{
    color: white;
}
.ulfooter{
    margin-top: 100px;
} */
.footerlist{
    text-decoration: none;
    font-size: 30px;
    /* background-color: #00ff2a; */
   
}
.footerlist:hover{
    background-color:gold;
} 
/* .listfootdiv{
    /border: 2px solid black;
    border-radius: 600px; 
    float: left; 
} */